@model Wba.Oefening.Movies.Web.Models.MoviePartial
@using Wba.Oefening.Movies.Domain
@{
    ViewData["Title"] = "Movie";
    Movie movie = Model.movie;
    
}

<article class="card">
    @*<img src="@Model.movie.Image" alt="Alternate Text" />*@
     <div class="card-body">
         <h5>@movie.Title</h5>
         <div class="card-text">
             <ul>
                 <li>Title: @movie.Title</li>
                 <li>Genre: @movie.Genre</li>
                 <li>
                     Actors:<ul>
                         @foreach (var actor in movie.Actors)
                         {
                             <li>@actor.FirstName @actor.SurName</li>
                         }
                     </ul>
                 </li>
                 <li>
                     Directors:
                     <ul>
                         @foreach (var director in movie.Directors)
                         {
                             <li>@director.FirstName @director.SurName</li>
                         }
                     </ul>
                 </li>
             </ul>
         </div>
     </div>
     <a href="/movies/@movie.Id" class="btn btn-primary">Go to movie</a>
</article>

